{% extends 'base.html.twig' %}
{% block title %}Todo{% endblock %}

{% block body %}
   <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm p-4">
            <h2 class="text-center mb-4">Todo</h2>
        </div>
    </div>
</div>    
{% endblock %}